#neo4j
NEO4J_PASSWORD=..
NEO4J_URI=..
NEO4J_USERNAME=..

# Hugging Face
HF_DATASET_REPO=..

# AI Agent
AI_AGENT_URL=..
AI_API_KEY=..

PRIMARY_MODEL=gemini/gemini-3.6-flash
SECONDARY_MODEL=gemini/gemini-2.5-flash
TERTIARY_MODEL=gemini/gemini-3.1-flash-lite