# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/
venv/

# Formatting / linting
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

#data 
data/processed/*
!data/processed/.gitkeep